html, body {
    min-height: 100vh;
    overflow-x: hidden;
}

h1 {
    font-size: 1.8em;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: url("/resources/pictures/bc1.png");
    background-color: #232323;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    font-family: Lato, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
}

a {
    outline: 0;
    color: #1e90ff;
    text-decoration: none;
}

a:active {
    color: #635bd2;
}

a:hover, a:active {
    text-decoration: underline;
}

img {
    vertical-align: bottom;
}

div.content {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 14px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.preventMark {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main {
    padding: 14px;
    margin: 100px auto;
    max-width: 580px;
    background-color: rgba(13, 17, 23, 0.97);
    border: 1px solid rgba(0, 0, 0, 0);
    width: 100%;
}

#footer {
    max-width: 580px;
    background-color: rgba(13, 17, 23, 0.97);
    border: 1px solid rgba(0, 0, 0, 0);
    width: 100%;
    margin-top: auto;
    font-size: .94em;
}

.head {
    height: 60px;
}

.head > img {
    height: inherit;
    width: auto;
    float: left;
}

.head > h1, .head > h2 {
    float: left;
    height: inherit;
    margin: 0 20px;
    line-height: 60px;
}

form#unban-form {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
}

form#unban-form > * {
    margin-bottom: 20px;
}

.hidden {
    display: none !important;
}

.error {
    color: red;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted white;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 5;
    box-shadow: 0 0 4px black;
    font-weight: normal;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}